@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Oswald&family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}
.header {
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 40px;
   
}
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0; /*
    display: flex;
    justify-content: center;
    align-items: center; */

    background-image: url(../images/Gotham_City_.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* colors for the background & buttons correct and wrong answers */
body.correct {
    color: green;
    background-color: green;
    background-image: none;
}


body.wrong {
    color: red;
    background-color: red;
    background-image: none;
}

button.correct {
    color: black;
    background-color: green;
}

button.wrong {
    color: black;
    background-color: red;
}
 

/* Question container */
#question-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 25px;
    color: blue;
    font-family: 'Crimson Text', serif;
}

/* Container for the game */
.container {
    padding: 10px;
    background-color: lightgray;
    max-width: 100%;
    margin: 20px;
    box-shadow: 0 0 10px 2px black;
    border-radius: 20px;

    background-image: url(../images/bman-grey-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    opacity: .9;
}

/* styles for game buttons */
.btn {
    padding: 15px 30px;
    margin: 30px;
    border: 2px solid grey;
    border-radius: 10px;
    color: black;
    background-color: whitesmoke;
    font-size: 1.6rem;
    font-family: 'Crimson Text', serif;
    outline: none;
}
/* Play button and next button */ 
.play-btn,
.next-btn {
    font-size: 50px;
    padding: 10px 20px;
}

/* To create a hover effect When you place the mouse on the buttons */
.btn:hover {
    background-color: black;
    color: white;
    border: 3px solid white;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    transition: 1s;
}

/* class for the layout of the buttons */

.btn-grid { 
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    gap: 10px;
    margin-top: 175px;
    margin-right: 275px; 
    
}

.play-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* to hide certain classes */
.hidden {
    display: none;
}


/* to keep track of the players score */
#score-area {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
